*~undo-tree~*
.cache
auto-save-list/
eln-cache/
recentf
projectile-bookmarks.eld
elpa/
transient/
url/
image-dired/
/tramp
*.elc
/modules/tools/img/
/straight/build-cache.el
/straight/build/
/straight/repos/
/straight/modified